.wrapperPayement {
  margin: 0 0.5rem;
}

.IconPayement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  transform: translateX(0.7rem)translateY(-0.7rem);
  
}

.payementContener{
  height:60px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  margin:1rem;
}

@media screen and (min-width: 768px) {
  .IconPayement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    transform: translateX(1.5rem)translateY(-0.7rem);
    
  }
}
