.annonceDetailContainer {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  align-self: center;
  padding: 1rem;
}

.annonceDetailLogo {
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 2rem;
}

.annonceDetailInfo {
  display: flex;
  flex-direction: row;
}

.annonceDetailEnt {
  height: 80px;
  background-color: var(--light-grey-background);
  border-radius: 5px;
  border: solid 2px var(--light-grey-stroke);
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding:1rem
}

.annonceDetailText{
    text-align: justify;
    padding:1rem;
}

.annonceDetailStage {
  height:80px;
  background-color: var(--light-grey-background);
  border-radius: 5px;
  border: solid 2px var(--light-grey-stroke);
  flex: 1;
  margin-bottom: 2rem;
  text-align: right;
  padding:1rem;
}

.annonceDetailDebut{
   color: rgba(0, 0, 0, 0.5); 
   font-weight:1rem;
}

.annonceDetailDesription {
  border: solid 2px var(--light-grey-stroke);
  background-color: var(--light-grey-background);
  border-radius: 5px;
  padding:0rem 1rem 6rem 1rem;
}

.annonceDetailDesriptionTitle {
    margin: 1rem 0;
  }

.annonceDetailPrixContener{
    display:flex;
    transform: translateX(0.5rem)translateY(-5rem);
}

.annonceDetailPrix {
  background-color: var(--cream-color);
  border: none;
  width:100%;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.05rem;
  align-content: center;
}

.annonceDetailCart{
    transform: translateX(-3rem)translateY(1.5rem);
}

@media screen and (min-width: 768px) {
    .annonceDetailPrixContener{
        display:flex;
        transform: translateX(0rem)translateY(0rem);
        justify-content: flex-end;
    }
    .annonceDetailPrix {
        background-color: var(--cream-color);
        border: none;
        width:250px;
        margin-right: 0;
        padding: 0.3rem;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1.05rem;
        
      }
  }