.announcementsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 45.75rem;
}

@media screen and (min-width: 768px) {
  .announcementsContainer {
    margin: 3rem auto;
  }
}
