.appButton {
  background-color: var(--cream-color);
  color: #333;
  width: 80%;
  max-width: 20rem;
  height: fit-content;
  align-self: center;
  border-radius: 0.5rem;
  border-style: none;
  outline: none;
  padding: 0.5rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-family: '';
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
}

.btnIcon {
  position: absolute;
  right: 0;
  height: 1.5rem;
  margin-right: 1rem;
}
