.appInputLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0.5rem;
  border-radius: 5px;
}

.appInput {
  background-color: rgb(231, 227, 227);
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}