.home { 
  width: 100vw;
  height: 100vh;
}

.homeBgImg {
  background-image: url('../Assets//Images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.homeContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTitle {
  color: var(--light-grey-font-background);
  font-size: 4rem;
  margin-top: 2.5rem;
}

.homeDescription {
  color: var(--light-grey-font-background);
  font-size: 1rem;
  
}


