.announcementsPage {
  max-width: 45.75rem;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .announcementsPage {
    margin: 0 auto;
  }
}

.filterButtonOff {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}

.filterButtonOn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  font-weight: 600;
}

.arrowFilter {
  margin-left: 0.4rem;
  height: 10px;
  width: 10px;
}
