.ContainerShipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.titleShipping {
  margin: 2rem 0;
  margin-right: 50%;
}

.titleAchat {
  margin: 2rem 0;
}

.numberAnnounceBasket {
  font-weight: 300;
}

.ShippingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 40rem;
  margin-bottom: 1.5rem;
  background-color: var(--light-grey-background);
}

.wrapperAllPayement {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 1rem;
}

.descritionPrice {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.descritionPriceSpan {
  font-weight: bold;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .ShippingCard {
    min-height: 50vh;
    padding: 1rem;
    width: 60vw;
  }
}
