.signUp{
  width: 100%;
  height: 100%;
  background-color: var(--cream-color);
}

.signUpBgImg {
  background-image: url('../Assets//Images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.signUpContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.signUpHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpTitle {
  color: var(--light-grey-font-background);
  font-size: 4rem;
  margin-top: 2.5rem;
}

.signUpSecondTitle {
  font-size: 2rem;
}


.signUpDescription {
  color: var(--light-grey-font-background);
  font-size: 1.5rem;
}

.signUpForm {
  width: 65%;
  display: flex;
  margin-top: 2rem;
  padding: 1rem 1rem 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-background);
  border-radius: 10px;
}

.signUpCheck {
  width: 80%;
}

.signUpCheckox {
  margin: 1rem 1rem 1rem 0;
}

.signUpGrpButton{
  display: none;
}
@media screen and (min-width: 768px) {
  .signUp{
  height: 100vh;
  }

  .signUpBgImg {
  width: 50%;
  height: 100vh;
}

.signUpContent{
  padding-bottom: 0;
}

.signUpForm {
  position: absolute;
right: 4%;
width: 40%;
margin: auto 0;
}
.signUpGrpButton{
display: block;
width: 20rem;
flex-direction: column;
justify-content: center;
align-items: center;
}
}