.signUp{
  width: 100vw;
  height: 100vh;
}

.signUpBgImg {
  background-image: url('../Assets//Images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.signUpContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpTitle {
  color: var(--light-grey-font-background);
  font-size: 4rem;
  margin-top: 2.5rem;
}

.signUpSecondTitle {
  font-size: 2rem;
}


.signUpDescription {
  color: var(--light-grey-font-background);
  font-size: 1.5rem;
}

.signUpForm {
  width: 80%;
  display: flex;
  margin-top: 2rem;
  padding: 1rem 1rem 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-background);
  border-radius: 10px;
}

.signUpCheck {
  width: 65%;
}

.signUpCheckox {
  margin: 1rem 1rem 1rem 0;
}