@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  /* COLORS */
  --cream-color: #f8ddbe;
  --light-grey-font-background: #fdfdfd;
  --light-grey-stroke: #e4e4e4;
  --light-grey-background: #f2f2f2;
  --header: #353535;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #353535;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 1.563;
  color: #fdfdfd;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 1.45rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }
}
